<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Immobilier{% endblock %}</title>
    <link rel="icon">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
{% for message in app.flashes('success') %}
    <div class="flash flash-success">
        {{ message }}
    </div>
{% endfor %}
<header class="site-head ">
    <div class="header-top">
        <div class="container flex">
            <a href="{{ path('main_home') }}" title="Accueil Immobilier" class="logo">
                <span>Immobilier ENI</span>
            </a>
        </div>
    </div>
    <nav class="menu-wrap desktop-blk">
        <div id="navbarSupportedContent" class="menu">
            <div class="menu">
                <ul>
                    <li>
                        <a href="{{ path('main_home') }}">
                            <span class="menu-icon">
                                <img src="{{ asset('img/Accueil.svg') }}" alt="Accueil" width="26" height="25">
                            </span>
                            <span>Accueil</span>
                        </a>
                    </li>
                    <li>
                        <a href="/acheter">
                            <span class="menu-icon">
                                <img src="{{ asset('img/acheter.svg') }}" alt="Acheter" width="24" height="28">
                            </span>
                            <span>Nouvelle annonce</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="menu-icon">
                                <img src="{{ asset('img/contact.svg') }}" alt="Contact" width="24" height="31">
                            </span>
                            <span>
                                Contact
                            </span>
                        </a>
                    </li>
                    {% if app.user %}
                        <li>
                            <a href="{{ path('app_logout') }}">
                            <span class="menu-icon">
                                <img src="{{ asset('img/contact.svg') }}" alt="Contact" width="24" height="31">
                            </span>
                                <span>
                                Logout
                            </span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('app_login') }}">
                            <span class="menu-icon">
                                <img src="{{ asset('img/contact.svg') }}" alt="Contact" width="24" height="31">
                            </span>
                                <span>
                                Login
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_register') }}">
                            <span class="menu-icon">
                                <img src="{{ asset('img/contact.svg') }}" alt="Contact" width="24" height="31">
                            </span>
                                <span>
                                Register
                            </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    {% block body %}{% endblock %}

</main>
<footer>

</footer>
</body>
</html>
